body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  overflow:hidden;
  touch-action:pan-y;
}
#u770_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u770_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:230px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:438px;
  width:351px;
  height:230px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:230px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:-403px;
  top:285px;
  width:351px;
  height:230px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:129px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:136px;
  width:121px;
  height:129px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:76px;
  width:42px;
  height:33px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:0px;
  width:154px;
  height:381px;
  overflow:hidden;
  visibility:hidden;
}
#u779_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:381px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u779_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:391px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:6px;
  width:300px;
  height:391px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:374px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-380px;
  width:150px;
  height:374px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:179px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:72px;
  width:119px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:124px;
  width:119px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:176px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:227px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:279px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:331px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:21px;
  width:19px;
  height:14px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:14px;
  width:29px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u804 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:14px;
  width:29px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:22px;
  width:8px;
  height:13px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:17px;
  width:24px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:20px;
  width:73px;
  height:17px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
