body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:595px;
  overflow:hidden;
  touch-action:pan-y;
}
#u936_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:595px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u936_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:673px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:0px;
  width:455px;
  height:673px;
  opacity:0.2;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:66px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:20px;
  width:105px;
  height:66px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:75px;
  width:36px;
  height:34px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:0px;
  width:154px;
  height:381px;
  overflow:hidden;
  visibility:hidden;
}
#u943_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:381px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u943_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:391px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:6px;
  width:300px;
  height:391px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:374px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-380px;
  width:150px;
  height:374px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:179px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:72px;
  width:119px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:124px;
  width:119px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:176px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:227px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:279px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:331px;
  width:119px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:21px;
  width:19px;
  height:14px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:14px;
  width:29px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u968 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:14px;
  width:29px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:22px;
  width:8px;
  height:13px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:17px;
  width:24px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:20px;
  width:73px;
  height:17px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
